pre{
    background:navy;
    color:lightgray;
    padding:1rem;
    width:fit-content;
}

.demoframe{
    padding:0 1rem 1rem;
    background-color:thistle;
    width:fit-content;
    border:2px solid gray;
}

.alert{
    border:5px solid yellow;
    background: red;
    padding: 1rem;
    margin: 1rem;
}
