lite-rumble {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    max-width: 720px;
}

/* gradient */
lite-rumble::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    top: 0;
    /* Pixel-perfect port of YT's gradient PNG, using https://github.com/bluesmoon/pngtocss plus optimizations */
    background-image: linear-gradient(180deg, rgb(0 0 0 / 67%) 0%, rgb(0 0 0 / 54%) 14%, rgb(0 0 0 / 15%) 54%, rgb(0 0 0 / 5%) 72%, rgb(0 0 0 / 0%) 94%);
    height: 99px;
    width: 100%;
    font-family: "Inter Regular",Roboto,Arial,Helvetica,sans-serif;
    color: hsl(0deg 0% 93.33%);
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    font-size: 18px;
    padding: 25px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

lite-rumble:hover::before {
    color: white;
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
lite-rumble::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
}
lite-rumble > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

/* play button */
lite-rumble > .lrmb-playbtn {
    display: block;
    width: 100%;
    height: 100%;
    background: no-repeat center/100px 100px;
    /* Rumble play button logo as an SVG */
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg"><circle cx="10.5" cy="10.5" r="10.5" opacity=".6"/><path d="m12.1 11.2c.438-.321.438-.942 0-1.27a10.2 10.2 0 00-2.04-1.2.844.844 0 00-.738.0276.802.802 0 00-.279.246.76.76 0 00-.132.341 9.42 9.42 0 00-.0676 2.38c.012.121.054.238.122.341.0676.103.16.189.269.252a.837.837 0 00.724.052 9.71 9.71 0 002.13-1.17v-.0042zm3.28-2.34a2.4 2.4 0 01.724 1.7 2.4 2.4 0 01-.717 1.7c-1.68 1.68-3.83 2.86-6.18 3.39a2.52 2.52 0 01-1.78-.221 2.36 2.36 0 01-1.14-1.33c-.724-2.25-.613-4.8.0816-7.03a2.33 2.33 0 011.08-1.38 2.51 2.51 0 011.77-.286c2.32.511 4.51 1.82 6.18 3.47z" fill="%2385c742" /></svg>');
    position: absolute;
    fill: #85C742;
    cursor: pointer;
    z-index: 1;
    filter: grayscale(100%) opacity(0.8);
    transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
    border: 0;
}

lite-rumble > .lrmb-playbtn-classic{
    /* A more classic style of play button like the default Rumble embed */
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 21 21" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><circle cx="10.5" cy="10.5" r="10.5" opacity=".4"/><path d="m13.8 10.1-4.86-2.88c-.395-.234-1-.00696-1 .571v5.75c0 .518.562.831 1 .571l4.86-2.87c.434-.256.435-.886 0-1.14z" fill="white" stroke-width=".0138"/></svg>');
}

lite-rumble:hover > .lrmb-playbtn,
lite-rumble .lrmb-playbtn:focus {
    filter: none;
}

/* Post-click styles */
lite-rumble.lrmb-activated {
    cursor: unset;
}
lite-rumble.lrmb-activated::before,
lite-rumble.lrmb-activated > .lrmb-playbtn {
    opacity: 0;
    pointer-events: none;
}

.lrmb-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  /* .lrmb-title{
    color: white;
    font-size: 18px;
    position: relative;
    top:24px;
    left: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  } */